{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card mt-3">
            <div class="card-header">
                <i class="far fa-calendar"></i> Détail des rencontres
            </div>
            <div class="card-body">
                {% include 'game/games_item_list.html.twig' %}
              
            </div>
        </div>
    </div>
</div>
{% endblock content %}
