<div class="card mt-3">
    <div class="card-header">
        <i class="far fa-calendar"></i> Derniers résultats <span class="badge badge-light">{{ lastGames | length }}</span>
    </div>
    <div class="card-body">
        {% if lastGames | length > 0 %}
        {% include 'game/games_item_list.html.twig' with { 'games' : lastGames} %}
        {% else %}
            <div class="alert alert-warning">Aucune rencontre n'a été jouée pour le moment. </div>
        {% endif %}
    </div>
</div>