<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{%block title %}ECPC2K21{% endblock title %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock stylesheets %}

</head>

<body>
<div class="bg"></div>
{% block body %}

{% endblock body %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}
</body>
</html>