{% import 'macro/macros.html.twig' as wcpc %}


<div class="card mt-3">
    <div class="card-header">
        <i class="far fa-calendar"></i> Classement général par service
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Service</td>
                    <td>Points</td>
                </tr>
            </thead>
            <tbody>
            {% set rank = 1 %}
                {% for crewLb in crewLeaderboard %}

                    {% if crewLb.crew.users | length >= 4 %}
                    <tr>
                        <td>{{ rank }}</td>
                        <td>{{ crewLb.crew.name }}</td>
                        <td>{{ crewLb.points | number_format(2,".", "") }}</td>
                    </tr>
                        {% set rank = rank + 1 %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>